body{
  background: rgba(219, 83, 83, 0.6);
  
}
.background{
  clip-path: polygon(100% 21%, 100% 44%, 0 90%, 0 67%);
  background-color: black;
  height: 10vh;
  width: 100vw;
  z-index: -1
}

@font-face{
  font-family: 'Detale';
  src: url(./Datalegreya-Gradient.otf);

}

.App {
  text-align: center;
  height: 100%;
  margin: 0 5%;
}

.App p{
  font-family: 'Detale';
}

.invisible {
  display: none;
}

span{
  margin: 1% 2% 4%;
}

span:hover{
  color: rgb(158, 52, 52);
}

.active{
  color: rgb(250, 242, 242);
}

.notActive{
  color: black;
}

.search{
  border: 1px solid white;
  border-radius: 3pc;
  text-align: center;
  padding: 3px;
  margin: 1% 0 0;
  outline: transparent;
  font-family: 'Detale';
  font-weight: bold;
}

.filters{
  margin: 3%;
  font-family: 'Detale';
  font-weight: bold;
}

.filterButton button{
  margin: 0 auto;
  border-radius: 18px;
    background: pink;
    border: none;
    padding: 1% 3%;
    width: 20%;
    text-align: center;
    font-family: 'Detale';
    font-weight: bold;
}

.logo {
  height: 150px;
  width: auto;
}

.display{
  margin: 20px;
  
}

.main { 
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  height: 10%;
  text-align: center;
  margin: 0 auto;
}

.main div {
  margin: 2%;
  text-align: center;
  justify-content: center;
}

.cardContainer{
display: flex;
flex-direction: column;
align-items: center;
}

.card{
  width: 75%;
  margin-top: 5%;
}

.Tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tabs{
  margin: 2%;
  text-align: center;
}